* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #eee;
}

@keyframes next {
  from {
    opacity: 0;
    color: black;
  }

  to {
    opacity: 1;
    color: white;
  }
}


.time {
  font-size: 8rem;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

h1 {
  margin-bottom: 3rem;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}

/* YA */
.current_date__container {
  width: 26%;
  display: flex;
  justify-content: end;
}

.current_date__self {
  font-size: 1.2rem;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.button {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(150, 150, 150);
  padding: .7em 1.5em;
  outline: none;
  /* box-shadow: 1px 2px 1px rgba(0,0,0,0.5);  */
}

.button:hover {
  background: rgb(120, 120, 120);
}

.button:active {
  background: rgb(90, 90, 90);
}

.buttons_block {
  margin-top: 10rem;
  width: 25%;
  display: flex;
  justify-content: space-between;

}