//@import "~bootstrap/scss/bootstrap";
//for live
// @import './assets/css/normalize.css';
@import'../node_modules/bootstrap/scss/bootstrap';
@import './assets/css/normalize.css';



body {

	background: #f5f3f5;
	padding-bottom: 3rem;

}

.stars {
	overflow-x: auto !important;
	height: 3rem;
	margin-bottom: 0.7rem;
	padding: 0 2.4rem;

}



.star--gold {
	flex: 0 0 auto;
	//display: inline-block;
	width: 3rem;
	height: 3rem;
	background-image: url('./assets/img/icon/star_gold.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 0.3rem;
}

.star-grey {
	flex: 0 0 auto;
	//	display: inline-block;
	width: 3rem;
	height: 3rem;
	background-image: url('./assets/img/icon/star_grey.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 0.3rem;
}


#menu__toggle {
	display: none;
	z-index: 110;
}

.menu {
	width: 60px;
	height: 2rem;

	position: relative;
	z-index: 100;

}

.menu span {
	display: block;
	width: 60px;
	height: 7px;
	background: linear-gradient(#969696, #cccccc);

	position: absolute;
	cursor: pointer;
	transition: 0.3s;
	z-index: 200;

}

.menu span:nth-child(1) {
	top: 0;
}


.menu span:nth-child(2) {
	top: 50%;
	width: 30px;
	transform: translateY(-50%);
}


.menu span:nth-child(3) {
	top: 50%;
	width: 30px;
	right: 0;
	transform: translateY(-50%);
}

.menu span:nth-child(4) {
	bottom: 0%;
}


#menu__toggle:checked~label span:nth-child(1),
#menu__toggle:checked~label span:nth-child(4) {
	opacity: 0;
	transform: translate();
}


#menu__toggle:checked~label span:nth-child(2) {

	left: 25%;
	transform: translateY(-50%) rotate(45deg);
	background: #f5f3f5;
	/* pointer-events:none; */
}


#menu__toggle:checked~label span:nth-child(3) {

	right: 25%;
	transform: translateY(-50%) rotate(-45deg);
	background: #f5f3f5;
	/* pointer-events:none; */
}

.menu__box {
	position: fixed;
	width: 380px;
	height: 100vh;
	background: linear-gradient(#0099ae, #00bf82);


	transition: 0.5s;
	padding: 6rem 1rem 5rem 5rem;
	overflow-y: auto;
	

}

.menu__box::-webkit-scrollbar {
	width: 0;
  }



@media (max-width: 768px) {

	.menu__box {
		width: 300px;

		padding: 9rem 1rem 2rem 2rem;
	}

	.stars {
	
	
	
		padding: 0 0.1rem;
	
	}

}

.menu__box li {
	font-size: 1.6rem;
	list-style: none;
	margin-bottom: 2rem;
}



@media (max-height: 1000px) {

	.menu__box li {	margin-bottom: 1rem;}

}

#menu__toggle:checked~.menu__box {

	left: 0;
	top: 0;
}

#menu__toggle~.menu__box {

	left: -100%;
	top: 0;
}

.menu__item {
	color: #f5f3f5;
}

.active {
	color: yellow;
}



//toggler vendor
.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
	&:after,
	&:before,
	& *,
	& *:after,
	& *:before,
	&+.tgl-btn {
		box-sizing: border-box;

		&::selection {
			background: none;
		}
	}

	+.tgl-btn {
		outline: 0;
		display: block;
		width: 7rem;
		height: 2.5rem;
		position: relative;
		cursor: pointer;
		user-select: none;

		&:after,
		&:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked+.tgl-btn:after {
		left: 50%;
	}
}


.tgl-skewed {
	+.tgl-btn {
		overflow: hidden;

		backface-visibility: hidden;
		transition: all .2s ease;

		background: linear-gradient(#0099ae, #00bf82);

		&:after,
		&:before {

			display: inline-block;
			transition: all .2s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2.5rem;
			font-weight: bold;
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
		}

		&:after {
			left: 100%;
			content: attr(data-tg-on);
		}

		&:before {
			left: 0;
			content: attr(data-tg-off);
		}

		&:active {
			background: #888;

			&:before {
				left: -10%;
			}
		}
	}

	&:checked+.tgl-btn {
		background: linear-gradient(#fd6a63, #feb46b);

		&:before {
			left: -100%;
		}

		&:after {
			left: 0;
		}

		&:active:after {
			left: 10%;
		}
	}
}

.brd {
	border: 2px solid blue
}

.brd-g {
	border: 2px solid green
}


.container-fluid {
	max-width: 1400px;

}

.header {
	margin: 2rem 0 0.5rem;
	padding: 0 2.7rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;

	align-items: center;

}

.container__inner {
	display: grid;


	grid-template-columns: repeat(auto-fill, minmax(15.75rem, 18.75rem));
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	justify-content: center;
}

.card {
	position: relative;
	width: 18.75rem;
	height: 18.75rem;
	font-size: 1.8rem;
	text-align: center;
	perspective: 1000px;


	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card--orange {
	background: linear-gradient(180deg, #fd6a63, #feb46b 40%, #fff 0, #fff) !important;
}

.card__main {
	background: linear-gradient(180deg, #0099ae, #00bf82 40%, #fff 0, #fff);

}

.card__correct {
	filter: opacity(0.5);
}


.card__play {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.card__play:hover,
.card__train:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
	transition: 0.3s;

}



.card__main:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
	filter: hue-rotate(90deg);
	transition: 0.3s;
}

.card img {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: 10px solid #fff;
	object-fit: cover;
	margin: 1.2rem auto;
}

.background--orange {
	background: linear-gradient(180deg, #fd6a63, #feb46b) !important;
}


.front,
.back {

	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: 1s;
	backface-visibility: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 13.5rem;
	font-size: 2rem;
}


.back {

	transform: rotateY(180deg);
}


.card--rotate-180 {
	transform: rotateY(180deg);
	transition: 1s;

}

.card--rotate-360 {
	transform: rotateY(360deg);
	transition: 1s;

}


.rotate {

	position: absolute;
	width: 45px;
	height: 45px;
	background-image: url('./assets/img/icon/rotate_1.png');
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center 16px;
	bottom: 0px;
	right: 15px;

	transition: .3s;

}

.rotate:hover {

	filter: none;
	cursor: pointer;
}


.game {
	margin: 2rem 0 0;

}

.game__button {
	background: linear-gradient(180deg, #fd6a63, #f7820e);
	width: 50%;
	margin: 0 auto !important;
	display: block !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;

}

.repeat__button {
	background: linear-gradient(180deg, #fd6a63, #f7820e);
	width: 100px;
	margin: 0 auto !important;
	display: block !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
	animation: getSmaller 0.5s;

}

@keyframes getSmaller {
	from {
		width: 50%;
	}

	to {
		width: 100px;
	}
}

.popup {

	display: flex;
	flex-direction: column;
	padding: 2rem;

	position: fixed;
	top: 50%;
	left: 50%;
	width: 30rem;
	height: 30rem;
	transform: translate(-50%, -50%);
	z-index: 999;
	transition: opacity 0.25s linear, visibility 0.25s linear;
	background-color: rgba(255, 255, 255, 0.7);

	border-radius: 9px;
	justify-content: space-around;

}

.popup__img {

	height: 20rem;
}

.popup div {
	margin: 0.5rem;
}



.popup button {
	display: block !important;
	width: 100%;
	margin: 0 auto;
	font-size: 2rem;
}


@media (max-width: 768px) {

	.popup button {
	
		max-width: 300px;
		margin: 0 auto;
		font-size: 1.5rem;
	}

	.popup__img {
		max-width: 300px;
	
	}

}

// arrows vendor
.arrows {
	position: relative;
	cursor: pointer;
}

.stateInput {
	 display: none;
	// display: block;
}

.stateInput+.arrows:after {
	content: ' ';
	position: absolute;
	left: 10px;
	bottom: -30px;
	border: 10px solid transparent;
	border-top: 10px solid black;
	border-width: 12px 7px;
}

.stateInput:checked+.arrows:after {
	content: ' ';
	position: absolute;
	left: 10px;
	bottom: -30px;
	border: 10px solid transparent;
	border-top: 10px solid gray;
	border-width: 12px 7px;
}

.stateInput+.arrows:before {
	content: ' ';
	position: absolute;
	left: 10px;
	bottom: -2px;
	border: 10px solid transparent;
	border-bottom: 10px solid gray;
	border-width: 12px 7px;
}

.stateInput:checked+.arrows:before {
	content: ' ';
	position: absolute;
	left: 10px;
	bottom: -2px;
	border: 10px solid transparent;
	border-bottom: 10px solid black;
	border-width: 12px 7px;
}

.github {

	width: 30px;
	height: 30px;
	// border: 1px solid red;
	background-image: url('./assets/img/github-logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 2px;

}

.rsschool {

	width: 80px;
	height: 30px;
	background-image: url('./assets/img/rs_school_js.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 2px;


}

.menu__icon {

	width: 45px;
	height: 45px;
	// border: 1px solid red;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 2px;

}