/* font-family: "Orbitron"; */
@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");

  font-style: normal;
  font-weight: normal;

}

* {
  font-family: "Orbitron";
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}


$color__dark: #383434;
$color__light_grey: #ebebeb;
$color__light_red_grey: #fff5f5;
$color__middle_lavanda_grey: #948caa;


body {
  position: relative;
  background: #efefef url(./assets/img/back_12_1.jpg) no-repeat fixed top left;
  background-size: cover;

}


.game_field {
  margin: 0 auto;
  position: relative;

  max-width: 32rem;
  margin: 20px auto;
  height: 80vh;
  border: 2px solid transparent;

}


.header {
  //border: 1px solid red;
  margin-top: 3rem;
  display: flex;


}


.header__sticker {
  //border: 4px solid blue;
  flex: 2;

}

.header__gamedata {
  flex: 1;
  //border: 4px solid blue;

}


.rss_sticker {
  position: relative;
  width: 13rem;
  height: 13rem;
  left: 45%;

  transition: transform 1.0s;

}


.game_data {
  flex-grow: 1;

}


.rss_sticker--move {
  transform: translateX(-110px);

}


.menu__top,
.menu__bottom {
  margin: 0 auto;
  display: flex;
  margin: 1rem 0.1rem;
  justify-content: space-around;

}




.field {
  position: relative;
  margin: 0 auto;

  border: 2px solid $color__middle_lavanda_grey;
  border-radius: 10px;
  box-sizing: content-box;
  background: $color__light_grey;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.5);


}


.block {
  position: absolute;

  border: 2px solid $color__light_grey;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);



}


.button {
  cursor: pointer;
  position: relative;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  line-height: 2.5rem;
  font-size: 1.0rem;
  font-weight: 600;

  border: none;

  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  background: gray;
}

.button:hover {
  background: linear-gradient(130deg, #6978da 0%, #180f66 100%);
}


.button--green {
  background: #3a7c19;
}


.button--leaf {
  background: #47971f;
}


.button--blue {
  background: #0d7a87;
}


.button--water {
  background: #0f909e;
}


.button--nightsky {
  background: #113e6f;
}


.button--red {
  background: #ba0d41;
}


.button--grey {
  background: grey;
}


.button span {
  color: transparent;
  background-image: linear-gradient(0deg, #ccc 0%, #FEFAFD 100%);
  -webkit-background-clip: text;
  background-clip: text;
}


#time_game {
  font-family: "Orbitron";
  font-size: 2.6rem;

  color: white;
  text-align: right;
}


#steps_game {
  font-family: "Orbitron";
  font-weight: 600;
  padding: 0 5px;

  color: white;
  font-size: 1rem;
  text-align: right;
}


.popup {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: rgb(191, 243, 252);
  z-index: 1000;
}


@keyframes slow_popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popup div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;

  animation: slow_popup 1s;
}

.popup__score {
  font-size: 1rem;
}

.hidden {
  display: none;
}


@media only screen and (max-width: 600px) {
  .popup__score {
    font-size: 0.7rem;
  }

  .header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

  }

  .button {
    margin: 0.2rem;
    padding: 0 1.5rem 0 1.5rem;
  }


  .menu__top,
  .menu__bottom {
    flex-direction: column;
  }


  .menu__top_inner,
  menu__bottom_inner {
    display: flex;
    justify-content: center;
  }


  .rss_sticker {
    position: relative;
    width: 7rem;
    height: 7rem;
    left: 40%;
    transition: transform 1.0s;
  }


  .header {
    flex-direction: row;
    margin: 20px;
    align-items: center;
  }


  .rss_sticker--move {
    transform: translateX(-50px);
  }


  #time_game {
    font-size: 1.8rem;
  }

  .popup__score {
    font-size: 0.7rem;
  }

}