// colors
$color_primary: #F1CDB3;
$color_light_xl: #FFFFFF;
$color_light_l: #F6F6F6;
$color_light_s: #FAFAFA;
$color_dark_s: #CDCDCD;
$color_dark_m: #B2B2B2;
$color_dark_l: #545454;
$color_dark-_l: #4C4C4C;
$color_dark_2xl: #444444;
$color_dark_3xl: #292929;
$color_primary_light: #FDDCC4;
$start_screen_gradient_background: url(../../assets/images/noise_transparent@2X.png),
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
#211F20;
$footer_gradient_background: url(../../assets/images/noise_transparent@2X.png),
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;