* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --white: white;
    --blue: #00AFDB;
    --mid-blue: #3355BB;
    --light-grey: #f5f6f7;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.main-banner {
    background-image: url("assets/bg-image-wrapper.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 744px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    height: 95px;
    display: flex;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 64px;
    margin-top: 135px;
    line-height: 75px;
    letter-spacing: 4px;
    text-align: center;

}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 28px;
    letter-spacing: 1px;

}

h3 {
    margin-top: 23px;
    font-size: 18px;
    font-weight: normal;
    line-height: 140%;
    text-align: center;
    margin-bottom: 28px;
}

h4 {
    margin-top: 23px;
    font-size: 16px;
    font-weight: normal;
    line-height: 140%;
    text-transform: uppercase;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

nav ul li {
    list-style: none;
    padding: 0 45px;
}

nav ul li a {
    font-size: 14px;
    line-height: 140%;
}


a {
    color: var(--white);
    text-decoration: none;

}

a:hover {
   opacity: 0.5;

}

a.active {
    border-bottom: 2px solid white;
}

.text-white {
    color: var(--white);

}

.btn-main {
    width: 184px;
    height: 46px;
    background-color: var(--blue);
    text-transform: uppercase;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

}

.btn-main:hover {
    background-color: var(--mid-blue);
}

.icons {
    margin-top: 180px;

}

.icons img {
    margin-left: 13px;
    margin-right: 13px;
}

.icons img:hover {
    opacity: 0.5;
}

.promo-section {
    height: 842px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.mt-1 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-2 {
    margin-bottom: 20px;
}


.mb-3 {
    margin-bottom: 30px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

.community-section {
    height: 504px;
    background-color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-community {
    text-align: center;
    margin-left: 260px;

}

.hacker-article {
    width: 298px;
    height: 80px;
    line-height: 19.6px;

}

.sing-up {
    background-image: url("assets/pexels-christina-morillo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 524px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.sing-up input[type="email"] {
    border: none;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #fff;
    width: 340px;
    height: 40px;
    font-size: 14px;

}

.sing-up input[type="submit"] {
    border: none;
    background-image: url("assets/form_ok.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 66px;
    height: 46px;
    cursor: pointer;


}

.sing-up input[type="submit"]:hover {
   opacity: 0.5;


}

.search-bar {
    display: flex;
    margin: 5px;
}

.download-section {
    height: 460px;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    height: 184px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;


}


footer ul li {
    list-style: none;
    padding: 0 10px;
}

footer ul li a {
    font-size: 14px;
    line-height: 140%;
}


.copyrights {
    color: gray;
}

#slider div {
    font-size: 20px;
    display: flex;
    margin-top: -30px;

}


#slider a {
    color: black;
    margin: 0 5px;
}



.button-group span:hover {
    opacity: 0.5;
}
